{% load static %}

<!DOCTYPE html>
<html>
<head>
	<p> </p>
	<title>SAIKRAN</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



<body>

  <div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<div class="card card-body style="width: 18rem;" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/saiki.jpg' %}" >
					<link href="{% static '/css/main.css'  %}" rel="stylesheet"
					type="text/css">
					<p4>Hey, This is PASUVULA SAI KIRAN. 
					Currently pursuing MBA busniness
					analytics at University of Hyderabad.
					Looking for internships in Data science.</p4>
			    </div>
			</div>
			<div class="col-md-8">
				
				<div class="card card-body style="width: 18rem;">
					
					<ul class="social-links">
						
					    <li> KHAMMAM, TELANGANA, INDIA.</li>
						<li>+91 9948730424</li>
						<li>Sex MALE | Date of birth 12/01/1997 | Nationality INDIAN.</li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<p4> linkedin.com/in/saikiran-yadav-339a08a7</p4>
						<li><img class="social" src="{% static 'images/gmail.png' %}"></li>
						<p4> pasulakiransai@gmail.com</p4>
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
						<p4> https://github.com/saikiran1201</p4>
						<li><img class="social" src="{% static 'images/skype.png' %}"></li>
						<p4> live:pasulakiransai</p4>
						<p> </p>
					</ul>
			    </div>
			</div>
	    </div>
	
    </div>
		
</body>	


<body>
    
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<div class="card text-center card-body style="width: 18rem;">
					<p>Education</p>
					<p> 2020-2022 </p>
					<p> 2014-2018 </p>
					<p> 2012-2014 </p>
					<p> 2010-2012 </p>

			    </div>
			</div>
			<div class="col-md-8">
			   	
				<div class="card text-center card-body style="width: 18rem;">
					<p> Schools</p>
					<p> MBA Business Analytics at University of Hyderabad</p>
					<p> B Tech Mechanical Engineering at Sreenidhi Institute of Science and Technology Hyderabad</p>
					<p> Intermediate MPC at Narayana Junior College Hyderabad</p>
					<p> SSC at Gitams E Techno school Khammam</p>
					
			    </div>
			</div>
	    </div>
	
    </div>
		




</body>

<body>
    
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<div class="card text-center card-body style="width: 18rem;">
					<p>Courses</p>
			    </div>
			</div>
			<div class="col-md-8">
			   	
				<div class="card text-center card-body style="width: 18rem;">
					
					<p>  Python for Machine Learning by Olympus Greatlearning, Online</p>
			    </div>
			</div>
	    </div>
	
    </div>

</body>


<body>
    
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<div class="card text-center card-body style="width: 18rem;">
					<p>Digital Skills</p>
			    </div>
			</div>
			<div class="col-md-8">
			   	
				<div class="card text-center card-body style="width: 18rem;">
					
					<p> C, Basic C++, Python, Matlab, Basic R, Basic HTML CSS  </p>
			    </div>
			</div>
	    </div>
	
    </div>

</body>


<body>
    
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<div class="card card-block d-flex" style="height: 14rem;">
					<div class="card-body align-items-center d-flex justify-content-center style="width: 18rem;">	
					
						<p> Projects </p>
						
					</div>
			    </div>
			</div>
			<div class="col-md-8">
			   	
				<div class="card text-center card-body style="width: 8rem;">
					
					<p> Creating personal portfolio website using python django  </p>
					<p> Data analysis of .csv file generted in OpenFoam using python pandas </p>
					<p> Second and Fourth order appoximation of second derivative of function f(x) = sin(x)/x^3 in Matlab</p>
					<p>  https://skill-lync.com/profiles/Kiransai-Yadav-812 </p>
			    </div>
			</div>
	    </div>
	
    </div>

</body>






</html> 